extends layout

block content
  script(src='/javascripts/jquery.min.js')
  script(src='/javascripts/angular.js')
  script(src='/javascripts/networkObjects/NetworkNode.js')
  script(src='/javascripts/networkObjects/Battery.js')
  script(src='/javascripts/networkObjects/TransmissionLine.js')
  script(src='/javascripts/networkObjects/Resistor.js')
  script(src='/javascripts/networkObjects/PowerConsumer.js')
  script(src='/javascripts/networkObjects/PowerSupply.js')
  script(src='/javascripts/networkTest.js')
  script(src='/javascripts/networkTestCanvas.js')
  div#networkTestApp(data-ng-app="networkTestApp", data-ng-controller="networkTestCtrl")
    h1= title
    p Welcome to #{title}
    |   
    div.calculateBox
      form(name="calculate", data-ng-init="timeElapsed='1000'")
        input(type="range", min="1", max="1000", value="1000", name="timePassed", id="timePassed", data-ng-model="timeElapsed").
        p {{timeElapsed}} 
      button(data-ng-click="networkData.calculateClick()")#calculate.
        Calculate
    div.getData
      form(name="getData")
        button(data-ng-click="networkData.getDataClick(item, $event)")#getData.
          Get Data
    div.drawCanvas
      form(name="drawCanvas")
        button(data-ng-click="networkData.drawNetworkClick(item, $event)")#drawCanvas.
          Draw Canvas
    canvas#canvas
    div#powerSupplies
        table
          PowerSupplies
          thead
            caption Power Supplies Table
            tr
              th totalCharge
              th _id
              th type
              th location
              th totalPower
              th chargeSupplied
              th connections
              th charges
              th chargeSet
          tBody
            tr(data-ng-repeat="supply in networkData.powerSupplies")
              td
                {{supply.getTotalCharge()}}
              td 
                {{supply.getID()}}
              td
                {{supply.getType()}}
              td 
                {{supply.getLocation()}}
              td
                {{supply.getTotalPower()}}
              td
                {{supply.getChargeSupplied()}}
              td
                {{supply.getConnections()}}
              td
                div(data-ng-repeat="charge in supply.getCharges()")
                  {{charge}}
              td
                {{supply.getChargedSet()}}
              br
    div#powerConsumers
        table
          PowerConsumers
          thead
            caption Power Consumers Table
            tr
              th totalCharge
              th _id
              th type
              th location
              th consumerCharge
              th connections
              th charges
              th chargeSet
          tBody
            tr(data-ng-repeat="consumer in networkData.powerConsumers")
              td
                {{consumer.getTotalCharge()}}
              td 
                {{consumer.getID()}}
              td
                {{consumer.getType()}}
              td 
                {{consumer.getLocation()}}
              td
                {{consumer.getConsumerCharge()}}
              td
                {{consumer.getConnections()}}
              td
                div(data-ng-repeat="charge in consumer.getCharges()")
                  {{charge}}
              td
                {{consumer.getChargedSet()}}
              br
    div#batteries
        table
          Batteries
          thead
            caption Batteries Table
            tr
              th totalCharge
              th _id
              th type
              th location
              th totalPower
              th chargeSupplied
              th consumerCharge
              th connections
              th charges
              th chargeSet
          tBody
            tr(data-ng-repeat="battery in networkData.batteries")
              td
                {{battery.getTotalCharge()}}
              td 
                {{battery.getID()}}
              td
                {{battery.getType()}}
              td 
                {{battery.getLocation()}}
              td
                {{battery.getTotalPower()}}
              td
                {{battery.getChargeSupplied()}}
              td
                {{battery.getConsumerCharge()}}
              td
                {{battery.getConnections()}}
              td
                div(data-ng-repeat="charge in battery.getCharges()")
                  {{charge}}
              td
                {{battery.getChargedSet()}}
              br
    div#connectors
        table
          Connectors
          thead
            caption Connectors Table
            tr
              th totalCharge
              th _id
              th type
              th location
              th connections
              th charges
              th chargeSet
          tBody
            tr(data-ng-repeat="connector in networkData.connectors")
              td
                {{connector.getTotalCharge()}}
              td 
                {{connector.getID()}}
              td
                {{connector.getType()}}
              td 
                {{connector.getLocation()}}
              td
                {{connector.getConnections()}}
              td
                div(data-ng-repeat="charge in connector.getCharges()")
                  {{charge}}
              td
                {{connector.getChargedSet()}}
              br
    div#resistors
        table
          Resistors
          thead
            caption Resistors Table
            tr
              th _id
              th type
              th tLine
              th dParam
              th kParam
          tBody
            tr(data-ng-repeat="resistor in networkData.resistors")
              td 
                {{resistor.getID()}}
              td
                {{resistor.getType()}}
              td
                {{resistor.getTLine()}}
              td
                {{resistor.getDParam()}}
              td
                {{resistor.getKParam()}}
              br
     div#transmissionLines
        table
          TransmissionLines
          thead
            caption Transmission Lines Table
            tr
              th _id
              th type
              th conA
              th conB
              th dParam
              th kParam
              th resistor
              th chargeSet
          tBody
            tr(data-ng-repeat="tLine in networkData.transmissionLines")
              td 
                {{tLine.getID()}}
              td
                {{tLine.getType()}}
              td
                {{tLine.getConA()}}
              td
                {{tLine.getConB()}}
              td
                {{tLine.getDParam()}}
              td
                {{tLine.getKParam()}}
              td
                {{tLine.getResistor()}}
              td
                {{tLine.getChargedSet()}}
              br
              
    
    
 
    
        