extends layout

block content
  script(src='/javascripts/jquery.min.js')
  script(src='/javascripts/angular.js')
  script(src='/javascripts/networkTest.js')
  script(src='/javascripts/networkTestCanvas.js')
  div#networkTestApp(data-ng-app="networkTestApp", data-ng-controller="networkTestCtrl")
    h1= title
    p Welcome to #{title}
    |   
    div.calculateBox
      form(name="calculate", data-ng-init="timeElapsed='1000'")
        input(type="range", min="1", max="1000", value="1000", name="timePassed", id="timePassed", data-ng-model="timeElapsed").
        p {{timeElapsed}} 
      button#calculate.
        Calculate
    div.getData
      form(name="getData")
        button(data-ng-click="networkData.getDataClick(item, $event)")#getData.
          Get Data
    div.drawCanvas
      form(name="drawCanvas")
        button(data-ng-click="networkData.drawNetworkClick(item, $event)")#drawCanvas.
          Draw Canvas
    canvas#canvas
    div#networkData
      p
        ul
          li(ng-repeat="item in networkData.data").
            {{item}}
    
    
 
    
        